* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dice {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px 15px 0;
  width: 60px;
  height: 60px;
  background-color: orange;
  box-shadow: inset 0 5px white, inset 0 -5px #bbb, inset 5px 0 #d7d7d7, inset -5px 0 #d7d7d7;
  border-radius: 10%;
  font-size: 24px;
}

button {
  padding: 1rem;
  margin-bottom: 2rem;
}
