html{
    margin: 0;
}
* {
    box-sizing: border-box;
    color: #303004;
    font-family: 'Indie Flower', cursive;
  }
  
  html, body {
    height: 100vh;
    overflow: hidden;
  }
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  h1{
    font-size: 6rem;
    border-radius: 25px;
    padding: 15px;
    background-color: blueviolet;
    border: 5px solid wheat;
    box-shadow: (8px 8px 10px white);
    text-shadow: (2px 2px 8px wheat);
    
}
.gameBoard{
  display: flex;
  align-items: center;
  
}
.dice {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px 15px 0;
  width: 200px;
  height: 200px;
}
.gameBoard{
  width: 100%;
  justify-content: space-evenly;
}
.results{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.st0{
  fill: red;
}
#die1, #die2, #die3, #die4 {
  filter: drop-shadow( 8px 8px 5px wheat);
  padding: 10px;
}
button {
    padding: 1rem;
    margin: 4rem 1rem 0 1rem;
    width: 200px;
    border: 3px solid wheat;
  color: wheat;
  font-size: 1rem;
  font-weight: bold;
  }

  
#spil{
  background-color: red;
  border-radius: 20px 50px ;
}
#reset{
  background-color: blueviolet;
  border-radius: 50px 20px;
}
